{% extends "ecomapp/base.html" %}
{% load static %}
{% block title %}About us{% endblock  %}
{% block content %}
<div class="about-section">
    <h1>About Us</h1>
    <p>Meet our team of dedicated directors.</p>
</div>

<div class="team-container-grid">
    <div class="team-member">
        <img src="director1.jpg" alt="Director 1">
        <span class="contact-info">
            <h2>Enyinnia Clifford</h2>
            <p>Position: Team Lead</p>
            <p>Email: enyinniatochi@student.tecvinson.com</p>
            <p>Phone: +(234) (987) 654-3210</p>
        </span>
    </div>
    
    <div class="team-member">
        <img src="director2.jpg" alt="Director 2">
        <span class="contact-info">
            <h2>Director Name 2</h2>
            <p>Position: CTO</p>
            <p>Email: director2@example.com</p>
            <p>Phone: (987) 654-3210</p>
        </span>
    </div>
    <div class="team-member">
        <img src="director1.jpg" alt="Director 1">
        <span class="contact-info">
            <h2>Director Name 1</h2>
            <p>Position: CEO</p>
            <p>Email: director1@example.com</p>
            <p>Phone: (123) 456-7890</p>
        </span>
    </div>
    
    <div class="team-member">
        <img src="director2.jpg" alt="Director 2">
        <span class="contact-info">
            <h2>Director Name 2</h2>
            <p>Position: CTO</p>
            <p>Email: director2@example.com</p>
            <p>Phone: (987) 654-3210</p>
        </span>
    </div>
    <div class="team-member">
        <img src="director1.jpg" alt="Director 1">
        <span class="contact-info">
            <h2>Director Name 1</h2>
            <p>Position: CEO</p>
            <p>Email: director1@example.com</p>
            <p>Phone: (123) 456-7890</p>
        </span>
    </div>
    
    <div class="team-member">
        <img src="director2.jpg" alt="Director 2">
        <span class="contact-info">
            <h2>Director Name 2</h2>
            <p>Position: CTO</p>
            <p>Email: director2@example.com</p>
            <p>Phone: (987) 654-3210</p>
        </span>
    </div>
    <div class="team-member">
        <img src="director1.jpg" alt="Director 1">
        <span class="contact-info">
            <h2>Director Name 1</h2>
            <p>Position: CEO</p>
            <p>Email: director1@example.com</p>
            <p>Phone: (123) 456-7890</p>
        </span>
    </div>
    
    <div class="team-member">
        <img src="director2.jpg" alt="Director 2">
        <span class="contact-info">
            <h2>Director Name 2</h2>
            <p>Position: CTO</p>
            <p>Email: director2@example.com</p>
            <p>Phone: (987) 654-3210</p>
        </span>
    </div>
    <div class="team-member">
        <img src="director1.jpg" alt="Director 1">
        <span class="contact-info">
            <h2>Director Name 1</h2>
            <p>Position: CEO</p>
            <p>Email: director1@example.com</p>
            <p>Phone: (123) 456-7890</p>
        </span>
    </div>
{% endblock  %}