{% extends "ecomapp/base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'ecomapp/css/style.css' %}">
{% block title %}logour{% endblock title %}
{% block content %}
    <h2>Signup</h2>
    <form method="POST" class ="styled-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class ="btn btn-warning rounded-pill btn-sm text-white">Signup</button>
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
{% endblock content %}